@{ 
    // Always load *-ext* before our assets, because our
    // assets depend on and may override definitions in *-ext*.
    Bundles.Reference("scripts/chumbucket-ext.js");
    Bundles.Reference("scripts/chumbucket.js");
    Bundles.Reference("stylesheets/chumbucket-ext.css");
    Bundles.Reference("stylesheets/chumbucket.css");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="COMP410" />
    <title>Chum Bucket</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Share+Tech+Mono" rel="stylesheet" />

    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page Header -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Chum Bucket Home page">
                    <img src="@Url.Content("~/Content/images/ChumBucket.svg")" style="width: 40px;">
                </a>
                <a class="navbar-brand" href="/" title="Chum Bucket Home Page">Chum Bucket</a>
            </div>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.bandgap.cs.rice.edu/classes/comp410/default.aspx" title="COMP 410" target="_blank">COMP 410</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center bodySection">
        <div class="row">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8">
                <img src="@Url.Content("~/Content/images/ChumBucket.svg")" style="height: 200px;" alt="ChumBucket" />
                <h1>Chum Bucket</h1>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <blockquote>
                    <p>Goodbye everyone, I'll remember you all in therapy.</p>
                    <footer>Plankton</footer>
                </blockquote>
                <br /><br />
                <div class="col-sm-3">&nbsp;</div>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- Page Footer -->
    <div class="container-fluid text-center" style="padding:10px 0px;">
        <div class="row">
            <div class="col-xs-12">
                <p style="margin:0px;">COMP 410, 2017. All rights reserved.</p>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        chumbucket.boot(document);
    });
</script>

</html>
